.circle-back-humedad-r {
  fill: none;
  stroke: #ddd;
}
.circle-progress-humedad-r {
  fill: none;
  stroke: #70DA00;
}

.circle-text-humedad-r {
  font-size: 1.3rem;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}
