.circle-back-tresult {
  fill: none;
  stroke: #ddd;
}
.circle-progress-tresult {
  fill: none;
  stroke: #2D4B92;
}

.circle-text-tresult {
  font-size: 1rem;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}
