.circle-back-tresult {
  fill: none;
  stroke: #ddd;
}
.circle-progress-tresult {
  fill: none;
  stroke: #78dae5;
}

.circle-text-tresult {
  font-size: 1.3rem;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}
